In [1]:
import geopandas as gpd

c:\Users\lilia\AppData\Local\Programs\Python\Python39\lib\site-packages\geopandas\_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [3]:
gdf = gpd.read_file("C:\\Users\\lilia\\Downloads\\wmca_download_2022-07-29_10-07-36\\files\\wmca_prj\\project\\unzip_files\\output\\SJ9000.geojson", driver="GeoJSON")

In [64]:
gdf[gdf.postcode.isna()]

,uprn,postcode,calculatedAreaValue,RelH2,RelHMax,AbsHMin,AbsHMax,AbsH2,lsoa_code,msoa_code,local-authority,constituency,num_households,num_households_fuel_poverty,prop_households_fuel_poor,total_consumption,mean_counsumption,median_consumption,geometry
1,100031827617,None,58.659920,4.8,7.6,120.5,128.1,125.3,None,None,None,None,NaN,NaN,None,NaN,NaN,NaN,"POLYGON ((-2.09882 52.64171, -2.09883 52.64171..."
2,100031822829,None,32.975944,4.8,7.2,124.6,131.8,129.4,None,None,None,None,NaN,NaN,None,NaN,NaN,NaN,"POLYGON ((-2.09660 52.64266, -2.09660 52.64268..."
32,100031817772,None,92.896554,5.7,9.9,148.3,158.2,154.0,None,None,None,None,NaN,NaN,None,NaN,NaN,NaN,"POLYGON ((-2.09114 52.62310, -2.09126 52.62309..."
95,10003578004,None,3003.054944,9.2,11.7,132.9,144.6,142.1,None,None,None,None,NaN,NaN,None,NaN,NaN,NaN,"POLYGON ((-2.09498 52.63654, -2.09485 52.63620..."
117,200004526531,None,105.916106,3.0,5.8,106.2,112.0,109.2,None,None,None,None,NaN,NaN,None,NaN,NaN,NaN,"POLYGON ((-2.12610 52.64078, -2.12597 52.64079..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29892,10090091479,None,46.395884,5.6,8.6,127.0,135.6,132.6,None,None,None,None,NaN,NaN,None,NaN,NaN,NaN,"POLYGON ((-2.09395 52.64230, -2.09382 52.64230..."
29942,100031830246,None,1200.732536,3.2,10.2,128.2,138.4,131.4,None,None,None,None,NaN,NaN,None,NaN,NaN,NaN,"POLYGON ((-2.09204 52.64178, -2.09207 52.64181..."
29974,100031817020,None,45.596000,5.3,6.9,125.3,132.2,130.6,None,None,None,None,NaN,NaN,None,NaN,NaN,NaN,"POLYGON ((-2.09531 52.64213, -2.09520 52.64213..."
29983,200001048989,None,57.669144,2.7,3.7,104.6,108.3,107.3,None,None,None,None,NaN,NaN,None,NaN,NaN,NaN,"POLYGON ((-2.13070 52.64102, -2.13070 52.64102..."
30142,200004523799,None,273.129488,3.3,6.3,146.2,152.5,149.5,None,None,None,None,NaN,NaN,None,NaN,NaN,NaN,"POLYGON ((-2.09051 52.62111, -2.09046 52.62106..."

In [8]:
import pandas as pd
import numpy as np
# Load fuel poverty data
# Retrieved from https://www.gov.uk/government/statistics/sub-regional-fuel-poverty-data-2022 
FUEL_POVERTY_PATH = "..\..\data\external\sub-regional-fuel-poverty-2022-tables.xlsx"
fuel_poverty_df = pd.read_excel(FUEL_POVERTY_PATH, sheet_name="Table 3", header=2)
fuel_poverty_df.drop(columns=["LSOA Name", "LA Code", "LA Name", "Region"], inplace=True)
fuel_poverty_df.columns = ["lsoa_code", "num_households", "num_households_fuel_poverty", "prop_households_fuel_poor"]

# Remove bottom text rows
crop_idx = np.where(fuel_poverty_df.isna().sum(axis=1) == len(fuel_poverty_df.columns))[0][0]
fuel_poverty_df = fuel_poverty_df[:crop_idx-1]

In [67]:
PCD_LSOA_MSOA_PATH = "..\..\data\external\ONSUD_AUG_2022_WM.csv"
pcd_lsoa_msoa_df = pd.read_csv(PCD_LSOA_MSOA_PATH, low_memory=False, encoding='latin-1')

# Filter for local authorities in WMCA
WMCA_code = ['E08000025', 'E08000031', 'E08000026', 'E08000027', 'E08000028', 'E08000029', 'E08000030', 'E07000192', 'E07000218', 'E07000219', 'E07000236', 'E07000220', 'E06000051', 'E07000221', 'E07000199', 'E06000020', 'E07000222']
# pcd_lsoa_msoa_df = pcd_lsoa_msoa_df[pcd_lsoa_msoa_df['LAD21CD'].isin(WMCA_code)]

# Rename and select columns to keep
keep_col = ['UPRN', 'PCDS', 'lsoa11cd', 'msoa11cd', 'LAD21CD', 'PCON19CD']
col_names = ['uprn', 'postcode', 'lsoa_code', 'msoa_code', 'local-authority', 'constituency']
pcd_lsoa_msoa_df = pcd_lsoa_msoa_df[keep_col]
pcd_lsoa_msoa_df = pcd_lsoa_msoa_df.rename(columns=dict(zip(keep_col,col_names)))

In [68]:
pcd_lsoa_msoa_df[pcd_lsoa_msoa_df.uprn =='100031827617']

Empty DataFrame
Columns: [uprn, postcode, lsoa_code, msoa_code, local-authority, constituency]
Index: []

In [62]:
list(pcd_lsoa_msoa_df.columns)[1:]

['postcode', 'lsoa_code', 'msoa_code', 'local-authority', 'constituency']

In [11]:
# Load energy consumption data
ENERGY_CONSUMP_PATH = "..\..\data\external\LSOA_domestic_elec_2010-20.xlsx"
energy_consump_df = pd.read_excel(ENERGY_CONSUMP_PATH, sheet_name="2020", header=4)
energy_consump_df.columns = [
    'local-authority', 'la', 'msoa_code', 'msoa', 'lsoa_code', 'lsoa', 'num_meter', 'total_consumption', 'mean_counsumption', 'median_consumption'
    ]
energy_consump_df = energy_consump_df[['local-authority','msoa_code','lsoa_code', 'total_consumption', 'mean_counsumption', 'median_consumption']]

In [102]:
df = pd.DataFrame(gdf.drop(columns=['geometry']))
df = df[gdf['postcode'].isna()==False]

fuel_poverty_avg = fuel_poverty_df.mean(axis=0) # impute with national average

fuel_poverty_col = ["num_households", "num_households_fuel_poverty", "prop_households_fuel_poor"]
for col in fuel_poverty_col:
    df[col] = df[col].fillna(fuel_poverty_avg[col])

energy_consump_col = ['total_consumption', 'mean_counsumption', 'median_consumption']
hierarchy = ["msoa_code", "local-authority"]

C:\Users\lilia\AppData\Local\Temp\ipykernel_25900\1879564964.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  fuel_poverty_avg = fuel_poverty_df.mean(axis=0) # impute with national average

In [103]:
energy_consump_col = ['total_consumption', 'mean_counsumption', 'median_consumption']
hierarchy = ["msoa_code", "local-authority"]
for col in energy_consump_col:
    for grouped_var in hierarchy:
        if df[col].isna().sum() > 0:
            grouped_df = energy_consump_df.groupby(grouped_var).mean()
            mapping = dict(zip(energy_consump_df[grouped_var], grouped_df[col]))
            idx = df[df[col].isna() == True].index
            df.loc[idx, col] = df.loc[idx, grouped_var].map(mapping)

    if df[col].isna().sum() > 0:
        df[col] = df[col].fillna(energy_consump_df[col].mean())

In [104]:
non_numeric_col = ['postcode', 'lsoa_code', 'msoa_code', 'local-authority', 'constituency']
from sklearn.preprocessing import LabelEncoder
for col in non_numeric_col:
    if len(df[col].unique())<30:
        one_hot_encoded = pd.get_dummies(df[col], prefix=col)
        column_names = one_hot_encoded
        print(len(one_hot_encoded))
        df = pd.concat([df, one_hot_encoded], axis=1)
    else:
        label_encoder = LabelEncoder()
        df[col] = label_encoder.fit_transform(df[col])

29354
29354
29354

In [108]:
df[]

0        0
3        0
4        0
5        0
6        0
        ..
30141    0
30143    0
30144    0
30145    0
30146    0
Length: 29354, dtype: int64

In [73]:
len(gdf)

30147

In [85]:
df

,uprn,postcode,calculatedAreaValue,RelH2,RelHMax,AbsHMin,AbsHMax,AbsH2,lsoa_code,msoa_code,...,msoa_code_E02002161,msoa_code_E02002163,msoa_code_E02002164,msoa_code_E02002168,local-authority_E08000031,constituency_E14000945,constituency_E14001011,constituency_E14001049,constituency_E14001050,constituency_E14001051
0,1.009333e+10,667.0,67.108644,4.4,8.4,125.4,133.8,129.8,27.0,E02002155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.000712e+11,445.0,60.624437,4.8,7.8,134.5,142.3,139.3,7.0,E02002149,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.000712e+11,1016.0,41.079144,4.7,9.0,148.4,157.4,153.1,18.0,E02002163,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.000712e+11,972.0,60.522131,6.9,9.3,157.3,166.6,164.2,17.0,E02002163,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.000712e+11,232.0,63.501224,5.4,7.6,114.2,121.8,119.6,2.0,E02002149,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
234828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
234829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
234830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
234831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0